<h4>Send a message to <%= link_to @user.email %>!</h4>

<%= form_for @message  do |f| %>
    <%= f.hidden_field :from, value: current_user.phone %>
    <%= f.hidden_field :to, value: @user.phone %>
  <div class="form-group">
    <%= f.text_area :body, cols: 35, rows: 7, placeholder: "Message" %>
  </div>
    <%= f.submit class: "btn btn-success" %>
<% end %>
