<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title)+" | texteR" : "texteR" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div class="container" id="main">
    <div class="navbar navbar-default navbar-fixed-top">
    <%= link_to "Home", root_url, class: "navbar-brand pull-left" %>
    <% if user_signed_in? %>
      <%= link_to "Log Out", destroy_user_session_path, method: "delete", class: "navbar-text pull-right" %>
      <%= link_to "Add Contact", new_contact_path, class: "navbar-text pull-left" %>
      <div class="navbar-text pull-right">
        Logged in as &nbsp; <%= link_to current_user.email, user_path(current_user) %>
      </div>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class: "navbar-text pull-right" %>
      <%= link_to "Log In", new_user_session_path, class: "navbar-text pull-right" %>
    <% end %>
  </div>
     <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>

<%= yield %>

</div>
</body>
</html>
